body {
    background-color: rgb(253, 223, 156);
    text-align:center;
}
.c1 {
    color:red;
    font-size: 20px;
    font-family: georgia;
}

.c2 {
    background-color: orange;
   
}
